<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить друга</title>
</head>
<body>

<form th:action="@{/add_friend}" method="post">
    <label for="friendUsername">Имя пользователя</label><br>
    <input type="text" id="friendUsername" name="friendUsername" placeholder="Имя пользователя" required><br>
    <br>

    <br><br><br>

    <th:block th:if="${condition}">
        <h2 style="color: red">Вы не ввели имя пользователя, или пользователя с таким логином не существует, или Вы
            хотите добавить себя в друзья, или этот пользователь уже есть в друзьях/заявках</h2>
    </th:block>

    <button>Добавить друга</button>
</form>

</body>
</html>