<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Альбомы</title>
</head>
<body>

<p>Мои альбомы</p>

<div th:each="album : ${albums}">
    <a th:href="@{/albums/{id}(id=${album.id})}" th:text="${album.name}"></a>
</div>

<p>Создать альбом</p>
<form th:action="@{/add_album}" method="post" enctype="multipart/form-data">
    <label for="name">Название альбома</label><br>
    <input type="text" id="name" name="name" placeholder="Название альбома" required><br>
    <label for="files">Фотографии</label><br>
    <input type="file" id="files" name="files" accept="image/*" multiple>
    <button>Создать альбом</button>
</form>

<th:block th:if="${condition}">
    <h2 style="color: red">Введите название альбома</h2>
</th:block>

</body>
</html>