<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Альбомы пользователя ' + ${userLogin}">Альбомы</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1 th:text="|Альбомы пользователя ${userLogin}|"></h1>

<div th:each="album : ${albums}">
    <a th:href="@{/album/{id}(id=${album.id})}" th:text="${album.name}"></a>
</div>

</body>
</html>