<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Альбом</title>
</head>
<body>

<form th:action="@{/create_photos}" method="post" enctype="multipart/form-data">
    <input type="file" accept="image/*" multiple required>
    <button>Добавить фотографию(и)</button>
</form>

<div th:each="photo : ${album.photos}">
    <a th:href="@{/photos/{id}(id=${photo.id})}"><img th:src="@{/photo/{id}(id=${photo.id})}"></a>
</div>

</body>
</html>