<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Сообщество ${community.name}|"></title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1 th:text="|Сообщество ${community.name}|"></h1>

<th:block th:if="${thisUser.getName()} == ${community.creatorLogin}">
    <form th:action="@{/delete_community}" method="post">
        <input type="hidden" name="id" th:value="${community.id}">
        <button>удалить сообщество</button>
    </form>
</th:block>

<p>Участники</p>
<div th:each="member : ${community.members}">
    <a th:href="@{/profile/{login}(login=${member.memberLogin})}" th:text="${member.memberLogin}"></a>
    <th:block th:if="${thisUser.getName()} == ${community.creatorLogin}">
        <form th:action="@{/kick_community_member}" method="post" style="display: inline-block">
            <input type="hidden" name="id" th:value="${member.id}">
            <input type="hidden" name="communityId" th:value="${member.communityId}">
            <button>выгнать</button>
        </form>
    </th:block>
</div>

<th:block th:if="!${isMember} and ${thisUser.getName()} != ${community.creatorLogin}">
    <form th:action="@{/join_community}" method="post">
        <input type="hidden" name="communityId" th:value="${community.id}">
        <button>вступить в сообщество</button>
    </form>
</th:block>

<th:block th:if="${isMember} or ${thisUser.getName()} == ${community.creatorLogin}">
    <th:block th:if="${thisUser.getName()} != ${community.creatorLogin}">
        <p>Вы подписаны</p>
        <form th:action="@{/leave_community}" method="post">
            <input type="hidden" name="communityId" th:value="${community.id}">
            <button>выйти из сообщества</button>
        </form>
    </th:block>
    <form th:action="@{/add_community_post}" method="post" th:object="${communityPost}">
        <label for="postText">Добавить пост</label><br>
        <textarea id="postText" th:field="*{postText}" required></textarea>
        <p style="color: red" th:if="${#fields.hasErrors('postText')}" th:errors="*{postText}">PostText Error</p>
        <input type="hidden" name="communityId" th:value="${community.id}">
        <button>добавить</button>
    </form>
</th:block>

<p>Посты</p>
<div th:each="post : ${community.posts}">
    <p th:text="${post.postText}"></p>
    <p th:text="${post.authorLogin}"></p>
    <p th:text="${post.creationTimeStamp}"></p>
    <th:block
            th:if="${thisUser.getName()} == ${post.authorLogin} or ${thisUser.getName()} == ${community.creatorLogin}">
        <form th:action="@{/delete_community_post}" method="post">
            <input type="hidden" name="id" th:value="${post.id}">
            <input type="hidden" name="communityId" th:value="${post.communityId}">
            <button>удалить пост</button>
        </form>
    </th:block>
    <hr/>
</div>

</body>
</html>