<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Сообщества пользователя ${memberLogin}|">Сообщества</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1 th:text="|Сообщества пользователя ${memberLogin}|"></h1>

<div th:each="community : ${communities}">
    <a th:href="@{/community/{id}(id=${community.id})}" th:text="${community.name}"></a>
</div>

</body>
</html>