<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление сообществами</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Управление сообществами</h1>

<form th:action="@{/add_community}" method="post" th:object="${community}">
    <label for="name">Название сообщества</label><br>
    <input type="text" id="name" th:field="*{name}" placeholder="Название сообщества" required>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <button>Создать сообщество</button>
</form>

<div th:each="community : ${communities}">
    <a th:href="@{/community/{id}(id=${community.id})}" th:text="${community.name}"></a>
    <form th:action="@{/delete_community}" method="post">
        <input type="hidden" name="id" th:value="${community.id}">
        <button>удалить сообщество</button>
    </form>
</div>

</body>
</html>