<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найти сообщества</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<p>Найти сообщества</p>
<form th:action="@{/find_communities}">
    <label for="word">Введите ключевые слова</label>
    <input type="search" id="word" name="word" required th:value="${word}">
    <br>
    <button>искать</button>
</form>

<div th:each="community : ${communities}">
    <a th:href="@{/community/{id}(id=${community.id})}" th:text="${community.name}"></a>
</div>

</body>
</html>