<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найти сообщества</title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1>Найти сообщества</h1>

<form th:action="@{/find_communities}">
    <label for="word">Введите ключевые слова</label>
    <input type="search" id="word" name="word" required th:value="${word}">
    <br>
    <button>искать</button>
</form>

<div th:each="community : ${communities}">
    <a th:href="@{/community/{id}(id=${community.id})}" th:text="${community.name}"></a>
</div>

</body>
</html>