<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найти друзей</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<p>Найти друзей</p>
<form th:action="@{/find_friends}">
    <label for="word">Введите имя пользователя или имя или фамилию</label>
    <input type="search" id="word" name="word" placeholder="Например, ivan_ivanov или Иван Иванов" required th:value="${word}">
    <button>искать</button>
</form>

<div th:each="possibleFriend : ${possibleFriends}">
    <form th:action="@{/add_friend}" method="post">
        <a th:href="@{/profile/{login}(login=${possibleFriend.login})}" th:text="${possibleFriend.login}"></a>
        <input type="hidden" name="friendLogin" th:value="${possibleFriend.login}">
        <button>добавить</button>
    </form>
    <th:block th:if="${condition}">
        <h2 style="color: red">Пользователя с таким логином не существует или данный пользователь уже есть в друзьях</h2>
    </th:block>
</div>

</body>
</html>