<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Друзья пользователя ${userLogin}|"></title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1 th:text="|Друзья пользователя ${userLogin}|"></h1>

<div th:each="friend : ${friends}">
    <a th:href="@{/profile/{login}(login=${friend.login})}" th:text="${friend.login}"></a>
</div>

</body>
</html>