<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявки в друзья</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<p>Входящие заявки</p>
<div th:each="incomingRequest : ${incomingRequests}">
    <form th:action="@{/accept_friend}" method="post">
        <a th:href="@{/profile/{login}(login=${incomingRequest.login})}" th:text="${incomingRequest.login}"></a>
        <input type="hidden" name="firstUserLogin" th:value="${incomingRequest.login}">
        <input type="hidden" name="secondUserLogin" th:value="${thisUser.login}">
        <button>Принять заявку</button>
    </form>
</div>

<p>Исходящие заявки</p>
<div th:each="outgoingRequest : ${outgoingRequests}">
    <a th:href="@{/profile/{login}(login=${outgoingRequest.login})}" th:text="${outgoingRequest.login}"></a>
</div>

</body>
</html>