<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои альбомы</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

<a th:href="@{/find_albums}">Найти альбомы</a>
<br>
<a th:href="@{/find_photos}">Найти фотографии</a>

<p>Создать альбом</p>
<form th:action="@{/add_album}" method="post" enctype="multipart/form-data" th:object="${album}">
    <label for="name">Название альбома</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Название альбома" required>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <br>
    <span>Выбрать тип доступа к альбому</span>
    <input type="radio" id="all" th:field="*{accessType}" value="all" required>
    <label for="all">для всех</label>
    <input type="radio" id="friends" th:field="*{accessType}" value="friends">
    <label for="friends">для друзей</label>
    <p style="color: red" th:if="${#fields.hasErrors('accessType')}" th:errors="*{accessType}">AccessType Error</p>
    <br>
    <label for="files">Фотографии</label>
    <input type="file" id="files" name="files" accept="image/*" multiple>
    <button>Создать альбом</button>
</form>

<p>Мои альбомы</p>

<div th:each="album : ${albums}">
    <form th:action="@{/delete_album}" method="post">
        <a th:href="@{/album/{id}(id=${album.id})}" th:text="${album.name}"></a>
        <input type="hidden" name="id" th:value="${album.id}">
        <button>удалить альбом</button>
    </form>
</div>

</body>
</html>