<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <th:block th:fragment="style">
        <style>
            img {
                width: 100%;
                height: auto;
            }
        </style>
    </th:block>
</head>
<body>

<h1>Мой профиль</h1>

<p>Вы вошли под логином <i th:text="${user.username}"></i></p>
<form th:action="@{/sign_out}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <button>выйти</button>
</form>

<th:block th:fragment="header">

    <p><a th:href="@{/my_profile}">Мой профиль</a></p>
    <p><a th:href="@{/my_friends}">Мои друзья</a></p>
    <p><a th:href="@{/my_albums}">Мои альбомы</a></p>
    <p><a th:href="@{/my_communities}">Мои сообщества</a></p>

    <hr>

</th:block>

</body>
</html>