<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фотография</title>
</head>
<body>

<img th:src="@{/photo_entity/{id}(id=${photo.id})}">

<th:block th:if="${thisUser.getName()} == ${photo.album.userLogin}">
    <form th:action="@{/delete_photo}" method="post">
        <input type="hidden" name="id" th:value="${photo.id}">
        <input type="hidden" name="albumId" th:value="${photo.albumId}">
        <button>удалить фотографию</button>
    </form>
</th:block>

<p th:text="${photo.creationTimeStamp}"></p>

<span>Теги: </span>
<form th:action="@{/delete_photo_tag}" method="post" th:each="tag : ${photo.tags}" style="display: inline">
    <label th:text="${tag.tag}"></label>
    <input type="hidden" name="id" th:value="${tag.id}">
    <input type="hidden" name="photoId" th:value="${tag.photoId}">
    <th:block th:if="${thisUser.getName()} == ${photo.album.userLogin}">
        <button>x</button>
    </th:block>
</form>

<th:block th:if="${thisUser.getName()} == ${photo.album.userLogin}">
    <form th:action="@{/add_photo_tag}" method="post" th:object="${photoTag}">
        <label for="tag">Добавить тег</label>
        <input type="text" id="tag" name="tag" th:field="*{tag}" required>
        <div style="color: red" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Tag Error</div>
        <input type="hidden" name="photoId" th:value="${photo.id}">
        <button>добавить</button>
    </form>
</th:block>

<th:block th:switch="${photo.rating}">
    <p th:case="null">Фотография еще не оценивалась</p>
    <p th:case="*" th:text="'Рейтинг фотографии: ' + ${photo.rating} + ' %'"></p>
</th:block>

<th:block th:if="${photo.userRating} != null">
    <th:block th:if="${photo.userRating.rating} == false">
        <form th:action="@{/update_photo_rating}" method="post" style="display: inline">
            <input type="hidden" name="rating" value="true">
            <input type="hidden" name="id" th:value="${photo.userRating.id}">
            <input type="hidden" name="photoId" th:value="${photo.userRating.photoId}">
            <button>+</button>
        </form>
        <form th:action="@{/delete_photo_rating}" method="post">
            <input type="hidden" name="id" th:value="${photo.userRating.id}">
            <input type="hidden" name="photoId" th:value="${photo.userRating.photoId}">
            <button style="background: red">-</button>
        </form>
    </th:block>
    <th:block th:if="${photo.userRating.rating} == true">
        <form th:action="@{/delete_photo_rating}" method="post" style="display: inline">
            <input type="hidden" name="id" th:value="${photo.userRating.id}">
            <input type="hidden" name="photoId" th:value="${photo.userRating.photoId}">
            <button style="background: green">+</button>
        </form>
        <form th:action="@{/update_photo_rating}" method="post">
            <input type="hidden" name="rating" value="false">
            <input type="hidden" name="id" th:value="${photo.userRating.id}">
            <input type="hidden" name="photoId" th:value="${photo.userRating.photoId}">
            <button>-</button>
        </form>
    </th:block>
</th:block>

<th:block th:if="${photo.userRating} == null">
    <form th:action="@{/add_photo_rating}" method="post">
        <input type="hidden" name="photoId" th:value="${photo.id}">
        <button name="rating" value="true">+</button>
        <button name="rating" value="false">-</button>
    </form>
</th:block>

<form th:action="@{/add_photo_comment}" method="post" th:object="${photoComment}">
    <label for="comment">Добавить комментарий</label><br>
    <textarea id="comment" name="comment" th:field="*{comment}" required></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Comment Error</div>
    <input type="hidden" name="photoId" th:value="${photo.id}">
    <button>добавить</button>
</form>

<div th:each="comment : ${photo.comments}">
    <p th:text="${comment.comment}"></p>
    <p th:text="${comment.commentingUserLogin}"></p>
    <p th:text="${comment.commentingTimeStamp}"></p>
    <th:block th:if="${thisUser.getName()} == ${photo.album.userLogin} or ${thisUser.getName()} == ${comment.commentingUserLogin}">
        <form th:action="@{/delete_photo_comment}" method="post">
            <input type="hidden" name="id" th:value="${comment.id}">
            <input type="hidden" name="photoId" th:value="${comment.photoId}">
            <button>удалить</button>
        </form>
    </th:block>
</div>

</body>
</html>