<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фотография</title>
</head>
<body>

<img th:src="@{/photos/{id}(id=${photo.id})}">

<div th:each="tag : ${photo.tags}">
    <p th:text="${tag.tag}"></p>
</div>

<form th:action="@{/add_photo_tags}" method="post">
    <input type="text" id="string" name="string" required>
    <input type="hidden" name="photoId" th:value="${photo.id}">
</form>

<div th:each="rating : ${photo.ratings}">
    <p th:text="${rating.rating}"></p>
</div>

<div th:each="comment : ${photo.comments}">
    <p th:text="${comment.comment}"></p>
    <p th:text="${comment.commentingUser}"></p>
</div>

</body>
</html>