<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Профиль пользователя ' + ${user.login}"></title>
    <th:block th:replace="~{my_profile :: style}"></th:block>
</head>
<body>

<th:block th:replace="~{my_profile :: header}"></th:block>

<h1 th:text="|Профиль пользователя ${user.login}|"></h1>

<p><a th:href="@{/friends/{userLogin}(userLogin=${user.login})}" th:text="|Друзья пользователя ${user.login}|"></a></p>
<p><a th:href="@{/albums/{userLogin}(userLogin=${user.login})}" th:text="|Альбомы пользователя ${user.login}|"></a></p>
<p><a th:href="@{/communities/{memberLogin}(memberLogin=${user.login})}" th:text="|Сообщества пользователя ${user.login}|"></a></p>
<br>
<p><a th:href="@{/messages/{companion}(companion=${user.login})}">Написать сообщение</a></p>

</body>
</html>