<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

<div th:text="'Профиль пользователя ' + ${user.login}">Профиль пользователя</div>

<!--<p><a th:href="@{/friends}">Мои друзья</a></p>-->
<p><a th:href="@{/album/{login}(login=${user.login})}" th:text="'Альбомы пользователя ' + ${user.login}"></a></p>
<p><a th:href="@{/communities/{memberLogin}(memberLogin=${user.login})}" th:text="'Сообщества пользователя ' + ${user.login}"></a></p>

</body>
</html>