<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<p><span>Регистрация</span></p>

<form th:action="@{/sign_up}" method="post">
    <label for="login">Логин</label><br>
    <input type="text" id="login" name="login" placeholder="Например, ivan_ivanov" required><br>
    <br>
    <label for="email">E-mail</label><br>
    <input type="email" id="email" name="email" placeholder="Например, ivan_ivanov@gmail.com" required><br>
    <br>
    <label for="firstName">Имя</label><br>
    <input type="text" id="firstName" name="firstName" placeholder="Например, Иван" required><br>
    <br>
    <label for="lastName">Фамилия</label><br>
    <input type="text" id="lastName" name="lastName" placeholder="Например, Иванов" required><br>
    <br>
    <label for="birthDate">Дата рождения</label><br>
    <input type="date" id="birthDate" name="birthDate"><br>
    <br>
    <label for="password">Пароль</label><br>
    <input type="password" id="password" name="password" required><br>
    <br>
    <label for="password_again">Пароль еще раз</label><br>
    <input type="password" id="password_again" required>
    <br>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}">

    <th:block th:if="${condition}">
        <h2 style="color: red">Вы оставили пустым какое-либо поле, или пользователь с таким логином или e-amil уже существует</h2>
    </th:block>

    <button>Зарегистрироваться</button>
</form>

<p><a th:href="@{/sign_in}">Войти</a></p>

</body>
</html>